<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- The following viewport code is intended to fullscreen the cockpit and prevent scrolling -->
    <!--meta id="Viewport" name="viewport" width="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"-->
    <!--<script type='text/javascript' src="bower_components/jquery/dist/jquery.min.js"></script>-->
    <script type='text/javascript' src="components/jquery/dist/jquery.js"></script>
    <!--script type='text/javascript' src="components/jquery-ui/jquery-ui.min.js"></script-->
    <title><%= title %></title>
    <%
      var head = scriplets.find(function(item){return item.name=='head'});
    %>
    <%if (head !== undefined){ %>
    <%- include(head.path,{
      title: title,
      scripts: scripts,
      styles: styles,
      sysscripts: sysscripts,
      config: config
    })%>
    <%}%>


<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

  ga('create', 'UA-18444815-8', 'auto');

ga('require', 'cleanUrlTracker');
ga('require', 'eventTracker');
ga('require', 'outboundLinkTracker');
ga('require', 'urlChangeTracker');
ga('require', 'pageVisibilityTracker');

ga('send', 'pageview');
</script>
<script async src="js/analytics.js"></script>
<script async src="js/autotrack.js"></script>
<script>
  window.addEventListener('unhandledrejection', function(event) {
    if (! event) {
      //Still a new event specification. Ignore if event is undefined
      return;
    }
    ga('send','exception',{
    'exDescription': `${event.promise}:  ${event.reason}`,
    'exFatal': false
    })

    ga('send','event',{
      eventCategory: '_exception',
      eventAction: event.promise,
      eventLabel:  `${event.promise}:  ${event.reason}`  
    });    
  });
  window.addEventListener('error', function(err) {
    ga('send','exception',{
    'exDescription': err.message,
    'exFatal': false
    });

    ga('send','event',{
      eventCategory: '_exception',
      eventAction: err.message,
      eventLabel:  err.filename + ':  ' + err.lineno  
    });
  });  
</script>

  <script type='text/javascript' src="js/libs/eventemitter2.js"></script>
  <!--<script type='text/javascript' src="js/libs/bootstrap.min.js"></script>-->

  <script type='text/javascript' src='js/libs/gamepad.js'></script>
  <script type='text/javascript' src='js/utilities.js'></script>

  <script type='text/javascript' src="config.js"></script>
  <script type='text/javascript' src="cockpitsocket/socket.io.js"></script>
  <script type='text/javascript' src="system-plugin/globalization/js/initGlobalization.js"></script>
  <script type='text/javascript' src='js/eventEmitterStoreAndForward.js'></script>
  <script type='text/javascript' src='js/socketIOStoreAndForward.js'></script>
  <script type='text/javascript' src='js/socketIOtoEmitterBridge.js'></script>  
  <script type='text/javascript' src="js/cockpit.js"></script>
  <script type="text/javascript" src="js/app.js"></script>

  <script type="text/javascript" src="components/webcomponentsjs/webcomponents-lite.js"></script>
  <script>
  //  window.Polymer = window.Polymer || {};
  //  window.Polymer.dom = 'shadow';
    //TODO: Do we need to look at https://github.com/Polymer/polymer/issues/1844
    window.Polymer = {
      dom: 'shadow',
      lazyRegister: true
    };
  </script>
  <script>window.openrovtheme='<%=theme%>'</script>  
  <link id="lazyScripts" rel="import" href="/all_scripts.html" async>
  <link rel="import" href="components/polymer/polymer.html">
  <style>
    body.loading #splash {
      opacity: 1;
      z-index: 0;
    }
    #splash {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: opacity 300ms cubic-bezier(0,0,0.2,1);
      opacity: 0;
      will-change: opacity;
      z-index: 9000;
      background: url(...) no-repeat;
      background-color: #E53935;
    }
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222;
        z-index: 1000;
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }
    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded styles */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    }
    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    }
    .loaded #loader {
        opacity: 0;

        -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
    
        -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    }
    
  </style>
  </head>
  <body class="loading">
  <div id="splash">
    <!-- from https://ihatetomatoes.net/create-custom-preloading-screen/ -->
		<div id="loader-wrapper">
			<div id="loader"></div>

			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>

		</div>    
  </div>
<link rel="import" href="components/platinum-sw/platinum-sw-register.html">
<link rel="import" href="components/platinum-sw/platinum-sw-cache.html">
<link rel="import" href="components/terms-of-use/terms-of-use.html">
<!--TODO: Add logic to support either popout or popin(swapping) of applets-->
<template id="t" is="dom-bind"  strip-whitespace>
 <terms-of-use style="z-index:9999;display:block;position:absolute;width:100%;heigh:100%;"></terms-of-use> 
<platinum-sw-register auto-register reload-on-install state="{{pswstate}}">
  <platinum-sw-offline-analytics></platinum-sw-offline-analytics>  
  <platinum-sw-cache default-cache-strategy="networkFirst"></platinum-sw-cache>
</platinum-sw-register>

<!-- Temporarily disabled pending solution for relative pathing -->
<link rel="import" href="components/app-route/app-route.html">
<link rel="import" href="components/app-route/app-location.html">
<link rel="import" href="components/software-update-alert/orov-software-update-router.html">
<orov-software-update-router event-emitter="{{cockpitEventEmitter}}" applet="{{routedata.page}}"></orov-software-update-router>

<app-location use-hash-as-path url-space-regex="^/#/" route={{route}}></app-location>
<app-route route="{{route}}" pattern="/:page" data={{routedata}} active="{{homeActive}}"></app-route>

<link rel="import" href="components/ui-manager/orov-widget-registry.html">

<orov-widget-registry id="widgetRegistry" event-emitter="{{cockpitEventEmitter}}">
  <%=JSON.stringify(webcomponents);%>
</orov-widget-registry>
<script>
  Polymer.RenderStatus.afterNextRender(this.$.widgetRegistry, () => {
    console.info("After render of windows registry");
  });
</script>
<!--link id="lazyImports" rel="import" href="/all_imports.html" async-->

  <%
    var header = scriplets.find(function(item){return item.name=='header'});
  %>
  <%if (header !== undefined){ %>
  <%- include(header.path,{
    title: title,
    scripts: scripts,
    styles: styles,
    sysscripts: sysscripts,
    config: config
  })%>
  <%}%>

  <% for(var i=0; i<scriplets.length; i++) {
    if ((scriplets[i].name == 'header') || (scriplets[i].name == 'footer')|| (scriplets[i].name == 'head')){continue;}%>
  <template is="dom-if" restamp=true if="{{displaySection(routedata.page,'<%= scriplets[i].name %>')}}">
<script>
  var fn = function(){
    console.info("on applet <%= scriplets[i].name %>");
    removeSplashScreen();
    window.removeEventListener('WebComponentsReady',fn);
  }
  window.addEventListener('WebComponentsReady', fn);  
  ga('set', 'page', '<%= scriplets[i].name %>');
  ga('set', 'dimension1', '<%= theme %>');
  ga('send', 'pageview');


</script>
  <%- include(scriplets[i].path,{
    title: title,
    scripts: scripts,
    styles: styles,
    sysscripts: sysscripts,
    config: config
  }) %>
  </template>
  <% } %>

  <%
    var footer = scriplets.find(function(item){return item.name=='footer'});
  %>
  <%if (footer !== undefined){ %>
  <%- include(footer.path,{
    title: title,
    scripts: scripts,
    styles: styles,
    sysscripts: sysscripts,
    config: config
  })%>
  <%}%>
  <script>
    //removeSplashScreen();
  </script>
</template>
  <script>

function removeSplashScreen() {
    var loadEl = document.getElementById('splash');
    loadEl.addEventListener('transitionend', loadEl.remove);
    document.body.classList.remove('loading');  
}

function setupLazyImportsBundleMetics() {
  // Critical imports bundle perf.
  var lazyBundle = document.querySelector('#lazyImports');
  if (lazyBundle) {
    var process = function() {
      var entry = performance.getEntriesByName(lazyBundle.href)[0];
      var str = `started @ ${entry.startTime.toFixed(2)} ms, took: ${entry.duration.toFixed(2)} ms`;
      console.info('lazyImportsBundle: ' + str);
      var wr = document.querySelector('#widgetRegistry');
      wr.process();
    };
    if (lazyBundle.import && lazyBundle.import.readyState === 'complete'){
      process()
    } else {
      lazyBundle.onload = function(e) {
        process();
      };
    }
  }
}    

function setupLazyScriptBundleMetics() {
  // Critical imports bundle perf.
  var lazyBundle = document.querySelector('#lazyScripts');
  if (lazyBundle) {
    var process = function(){
      if (!window.cockpit){
        setTimeout(process.bind(this),50);
        return;
      }
      var entry = performance.getEntriesByName(lazyBundle.href)[0];
      var str = `started @ ${entry.startTime.toFixed(2)} ms, took: ${entry.duration.toFixed(2)} ms`;
      console.info('lazyScriptsBundle: ' + str);
      window.cockpit.loadPlugins();
    }
    if (lazyBundle.import && lazyBundle.import.readyState === 'complete'){
      process()
    } else {
      lazyBundle.onload = function(e) {
        process();
      };
    }
  }
}
 setupLazyScriptBundleMetics();
window.addEventListener('WebComponentsReady', function(e) {
 // setupLazyImportsBundleMetics();
   console.info("Web Componet Ready Event",$('#t')[0].rovOnline);

 });

  </script>
  </body>
</html>
